.display-4 {
    color: white;
    background-color: rgb(61, 61, 61);
}



#searchButton {
color: black;
border-color: gray;
}

#searchButton:hover {
    color:black;
    background-color: red;
    border-color: black;
}