.display-4 {
    color: white;
    background-color: #007BFF;
}

.jumbotron {
  background-color:white;
}


.row {

  background-color: white;
}

.col-sm-4.bg-light{
  background-color: #007BFF;
}

#searchButton {
color: black;
border-color: gray;
}

#searchButton:hover {
    color:black;
    background-color: ##007BFF;
    border-color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #007BFF;
}

